body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f5f5;
    color: #405c60;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66bfbf;
  border-radius: 0px 0px 10px 10px;
  color: white;
  font-size: 1.5em;
  padding: 15px;
}

div {
  color: #405c60;
}

button{
  color: #405c60;
  height: 28px;
}

.container {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 25px;
  height: 88VH;
}

.widget {
  background-color: #ddf0f0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
}

.widget-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #405c60;
}

.widget-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget .dash-graph{
    width: 100%;
}

.widget svg {
    background: rgb(255, 255, 255, 0) !important;
}

.widget1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.widget2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.widget3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.widget4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.widget5 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.widget6 {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}

.widget7 {
  grid-column: 1 / 7;
  grid-row: 2 / 5 ;
}
